html {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#animation {
    position: fixed;
    width: 100%;
    height: 100%;
    // width: 100vw;
    // height: 100vh;
    margin: 0;
    padding: 0;
    // background: radial-gradient(circle, #000 10%, #1d1d26);
    background-color: #0c0c14;
    transform-style: preserve-3d;
    perspective: 10000px;
    overflow-x: hidden;
}

@function stars($n) {
    $value: "calc(#{0.5 - random()} * 100vw) calc(#{0.5 - random()} * 300vh) rgb(255 255 255 / #{random()+0.5})";

    @for $i from 2 through $n {
        $value: "#{$value}, calc(#{0.5 - random()} * 100vw) calc(#{0.5 - random()} * 300vh) rgb(#{ceil(random()*105+100)} #{ceil(random() * 255)} 255/#{random() + 0.5})";
    }
    @return unquote($value);
}

.cosmos {
    height: 0;
    width: 0%;
    overflow: hidden;
}
.cosmos:before,
.cosmos:after {
    content: "";
    transform-style: preserve-3d;
    position: absolute;
    left: 50%;
    top: 50%;
}
.cosmos:before {
    width: 1px;
    height: 1px;
    box-shadow: stars(1000);
}
.cosmos:after {
    width: 3px;
    height: 3px;
    box-shadow: stars(400);
}
.cosmos:before {
    animation: star-rotate 12s linear infinite reverse;
}
.cosmos:after {
    animation: star-rotate 6s linear infinite reverse;
}

@keyframes star-rotate {
    0% {
        transform: scale(3);
        opacity: 0;
    }
    50% {
        transform: scale(2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 0.2;
    }
}

.star {
    transform-style: preserve-3d;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
}

.star:nth-child(1) {
    width: 1px;
    height: 1px;
    box-shadow: stars(800);
    animation: star-rotate 12s linear 6s infinite reverse;
}

.star:nth-child(2) {
    width: 2px;
    height: 2px;
    box-shadow: stars(600);
    animation: star-rotate 8s linear 4s infinite reverse;
}

.star:nth-child(3) {
    width: 2px;
    height: 2px;
    box-shadow: stars(400);
    animation: star-rotate 6s linear 3s infinite reverse;
}

.star:nth-child(4) {
    width: 2px;
    height: 2px;
    box-shadow: stars(1000);
    animation: star-rotate 12s linear 6s infinite reverse;
}

.banner {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    padding: 0;
    margin: 0;
    top: 0;
    z-index: 999;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: linear-gradient(120deg, rgba(93, 87, 100, 0.208) 0%, rgba(73, 69, 71, 0.208) 100%);
    overflow: hidden;
}

.entry {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.botton {
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    color: whitesmoke;
    font-style: italic;
}

.glass {
    background-color: rgb(74, 74, 74);
    overflow: hidden;
    display: flex;
    opacity: 0.4;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    border-radius: 5vw;
    background-blend-mode: normal, soft-light;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.content_in_glass {
    background-color: transparent;
    height: auto;
    width: auto;
    color: white;
    font-size: 100px;
}

.board {
    position: relative;
    top: 17vh;
    bottom: 0;
    left: 0;
    right: 0;
    width: 75vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1vh; // Set for <h4#sign>
}
.board p {
    word-wrap: break-word;
    margin-bottom: 8px;
    margin-top: 8px;
    font-family: monospace;
    font-size: large;
    letter-spacing: 0.1em;
}
.board svg {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 5vw;
    margin-top: 1vh;
    cursor: pointer;
}

.title_frame {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
}

.title_frame #title1 {
    display: block;
    position: relative;
    margin: 0;
    flex: 1;
    color: white;
    font-size: 26px;
    font-family: monospace;
    letter-spacing: 0.25em;
}
#splitline {
    position: relative;
    width: 100%;
}

#sign {
    position: relative;
    left: 0;
    right: 0;
    // bottom: 5vh;
    margin: 0;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 0;
    text-align: center;
    color: white;
    font-family: monospace;
    letter-spacing: 0.15em;
    font-weight: lighter;
}
#gotop {
    display: none;
    position: fixed;
    cursor: pointer;
    width: 30px;
    height: 30px;
    right: 3vw;
    bottom: 30vh;
}
#banner_title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    margin: 0;
    color: white;
    font-family: monospace;
    letter-spacing: 0.1em;
    text-align: center;
}
@media screen and (max-width: 400px) {
    #banner_title {
        font-size: 20px;
    }
    .banner {
        height: 8vh;
    }
}
//////////
